body {
    background-color: black;
    color: white;
    font-family: "Bookman Old Style", serif;
}

.center {
    margin: auto auto 16px auto;
    text-align: center;
    display: block;
}

#gamePlayArea {
    border: 5px solid white;
    border-radius: 5px;
}

.info p {
    display: inline;
}
